.movingSkills{
    color: aqua;
   
     /* animation-name: example;
        animation-duration: 4s;
        transition: all 2.5s; */
        animation: skillsfadeIn 2.4s infinite;
        text-align: center;
            margin-bottom: 20px;
            height: 20px;
 }

   @media only screen and (min-width: 600px) {

    .movingSkills{

        font-size: 22px;
        margin-bottom: 30px;
    }
   }



/* The element to apply the animation to */
/*  
@keyframes skillsfadeIn {
    0% {
        opacity: 0;
    }


    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
  */

/* @keyframes example {  
    0% {
    color: aqua;
     }               
 

    75% {
        color: green;
                   }

    100% {
        color: aqua;
        }
} */